/*
  Font
*/
body {
  font-family: system-ui;
}

/*
  Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: initial;
}

/* 
  Titles 
*/
.title--lg {
  font-size: 32px;
}

.title {
  font-size: 24px;
}

.title--sm {
  font-size: 20px;
}

/* 
  Text
*/
.text--lg {
  font-size: 18px;
}

.text {
  font-size: 16px;
}

.text--sm {
  font-size: 12px;
}
